node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
Dockerfile
docker-compose.yml
.dockerignore
test-results
playwright-report
blob-report
playwright/.cache 